<form>
    <h1>DELETANDO CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" [(ngModel)]="categoria.nome" disabled>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput type="text" name="descricao" [(ngModel)]="categoria.descricao"  disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button color="primary" (click)="delete()">DELETAR</button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn" routerLink="/categorias">VOLTAR</button>
    </div>
</form>