<form>
    <h1>ATUALIZANDO CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" placeholder="Ex. Computação" [(ngModel)]="categoria.nome">
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput type="text" name="descricao" placeholder="Ex. Livros de Computação" [(ngModel)]="categoria.descricao"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button color="primary" (click)="update()">ATUALIZAR</button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn" routerLink="/categorias">VOLTAR</button>
    </div>
</form>